
@media only screen and (min-width: 992px) and (max-width: 1200px) {	
	
	.jumbotron-services h1, 
	.jumbotron-about-dr h1,
    .carousel-inner > .item > .container > .carousel-caption h1 {
    	font-size: 40px;
    	text-align: center;
    	padding-top: 200px;
    }
    
	#products .skin-care-right, #products .supplements-left  {
		width: 610px;
    	height: auto;
    	padding: 40px;
    	margin-bottom: 15px;
    }
     #products .skin-care-left{	
    	width: 610px;
    	height: 260px;
    }
    #products .supplements-right {	
    	display: none;
    }
    #services {
	 	margin-top: 50px;
	 }
    
    
    /* Make an Appointment */   
    #schedule .contact-info, #schedule .office-hours, #schedule .pyfv-wrapper, #schedule .payment-method, #schedule .img-wrapper {
    	width: 102%;
    	heigth: atuo;
    	margin: 0;    	
    }
    #schedule .img-wrapper  img {
    	width: 100%;
    	margin: 0 auto;
    }     
}


@media only screen and (max-width: 991px) { 
    body { 
    	font-size: 16px; 
    }
                    
    .jumbotron-services h1, 
	.jumbotron-about-dr h1,
    .carousel-inner > .item > .container > .carousel-caption h1 {
    	font-size: 37px;
    	text-align: center;
    	padding-top: 200px;
    }

    #products .skin-care-left, #products .supplements-right {	
       	display: none;
    }
    #products .skin-care-right, #products .supplements-left {	
    	width: 100%;
    	height: auto;
    	margin: 0 0 15px 0;
    	padding: 40px;
    }
     #services {
	 	margin-top: 40px;
	 }
 
   	#practice img {
     	margin-top: 20px;
     }
    
     #practice h3, #practice p {
     	padding-right: 0;
     }
     
    /* Make an Appointment */
    #schedule {
    	margin: 0; 
    	padding: 30px 0;
    }
  	#testimonials  blockquote {
  		width: 100%;
    }
    .appointment-banner {
    	height: auto;
    }
    .appointment-banner  h1 {
        font-size: 27px;
    }
    #pyfv p {
		padding: 0 60px;
	}
    
    #site-map h1, #faq h1 {
    	padding-top: 40px;
    }
    
    #schedule .contact-info, #schedule .office-hours, #schedule .pyfv-wrapper, #schedule .payment-method, #schedule .img-wrapper {
    	width: 100%;
    	heigth: atuo;
    	padding: 20px;
    	margin: 0;
    }
    #schedule .img-wrapper  img {
    	width: 100%; 
    	margin: 0 auto;
    }  
       
   #site-map .jumbotron,  #faq .jumbotron {
    	padding: 0;
    }
    
    .footer-nav {
    	margin: 20px 0 20px -15px;
    }
    
    footer p {
    	padding: 0;
    	font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
	
	h1, .jumbo-2 h2 , #testimonials  h1, #testimonials  .customer-name,   .jumbo-pyfv h2 {
		font-size: 27px;
	}
	
	/* Home */
	#home img {
		width: 200px;
		height: 266px;
	}

	.jumbotron-services, 
	.jumbotron-about-dr { 
		width: 100%;
		height: auto; 
	}
    .jumbotron-services h1, 
	.jumbotron-about-dr h1,
    .carousel-inner > .item > .container > .carousel-caption h1 {
    	font-size: 30px;
    	padding-top: 60px;
    }
    
 	/* Products & Services */
     #services  {	    
           padding:  0 0 30px 0;
     }
     
     /* About Dr. Allyn */
     #about-dr img,  #practice img {
     	display: none;
     }
     #practice .container-fluid {
     	margin-bottom: 10px;
     }
    
    /* Make an Appointment */
    #schedule {
    	margin: 0; 
    	padding: 30px 0;
    }
	#schedule .contact-info, #schedule .office-hours, #schedule .pyfv-wrapper, #schedule .payment-method, #schedule .img-wrapper {
		width: 100%;
    	height: auto;
    	margin: 0;
    }
	#office-photos .img-wrapper img {
    	width: 60%;
    	height: auto;
    }
   
}

/* ----------------------------------------------- */
/* SMALL PHONES: FROM 0 TO 480PX */
/* ----------------------------------------------- */	

@media only screen and (max-width: 480px) {
	
	.profile h1 {
		margin-top: 25px;
	}
	
	#pyfv p {
		padding: 0;
	}
	
    #office-photos .img-wrapper img {
    	width: 100%;
    	height: auto;
    }
	#faq, #site-map {
		min-height: auto;
		padding-bottom: 20px;
	}
	#site-map .fa-map-signs, #faq .fa-quora  {
		font-size: 100%;
		display: none;
	}
	#site-map h1, #faq h1 {
		font-size: 28px;
		text-align: center;
	}
	
	footer .fa-stethoscope {
		display: none;
	}
	#footer-brand a {
		font-size: 27px;
	}
} 

